<div class="alert alert-info" *ngIf="!this.news">
  Nothing was selected
</div>

<section *ngIf="this.news" class="m-3 border-warning">
  <div style="border-radius: 10px" class="d-flex justify-content-between align-items-center text-muted p-3">
    <h2 style="text-overflow: ellipsis" class="p-0">{{this.news.headLineMainText}}</h2>
    <span>Author: {{this.news.author}}</span>
  </div>

  <div class="overflow-auto p-3 mt-3" style="max-height: 500px">
    <blockquote class="w-75 blockquote">
      <header class="blockquote-footer mb-4">Date: {{this.news.headLineDate.toLocaleString()}}</header>
      {{this.news.newsText}}
    </blockquote>
  </div>
</section>
