<nav class="navbar navbar-expand-lg navbar-light text-dark bg-transparent">
  <div class="container">
    <a class="navbar-brand" routerLink=""><img src="/assets/brand-logo-1030x1030.png"/></a>
    <button (click)="this.toggleNavBar()" class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
            data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <div class="mr-auto"></div>
      <ul class="navbar-nav mt-2 mt-lg-0">
        <li class="nav-item"><a routerLinkActive="active" routerLink="" href="#" class="nav-link">Home</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/news" href="#" class="nav-link">News</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">Programs</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" href="#">Program 1</a>
            <a class="dropdown-item" href="#">Program 2</a>
          </div>
        </li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/about" class="nav-link">About</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/blog" class="nav-link">Blog</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/contact" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="bg-dark p-4">
  <div class="container">
    <h4 class="d-block"><a routerLink="">Volcanic Warriors</a></h4>
    <div class="row d-flex justify-content-between align-items-center">
      <div class="d-flex flex-column py-3 col-md-3">
        <h5 class="text-white-50">Areas</h5>
        <ul class="nav flex-column">
          <li><a routerLink="/news">News</a></li>
          <li>
            <h6 class="text-white-50">Programs</h6>
            <ul class="nav flex-column">
              <li class="nav-item px-2"><a routerLink="/program/1">Program 1</a></li>
              <li class="nav-item px-2"><a routerLink="/program/1">Program 2</a></li>
              <li class="nav-item px-2"><a routerLink="/program/1">Program 3</a></li>
            </ul>
          </li>
          <li><a routerLink="/news">News</a></li>
          <li><a routerLink="/news">About</a></li>
          <li><a routerLink="/news">Blog</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="text-white-50">Contacts</h5>
        <ul class="nav text-center">
          <li class="nav-item">
            <a href="https://facebook.com"><b class="fa fa-facebook"></b></a>
          </li>
          <li class="nav-item px-2">
            <a href="https://facebook.com"><b class="fa fa-whatsapp"></b></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
