.testimonials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
}

.testifier-img {
  width: 120px;
  position: absolute;
  clip-path: circle(55px at 50% 45%);
  top: -16%;
  right: -17%;
}

.testimonial {
  position: relative;
  border: yellow solid 5px;
  color: #eee;
  padding: 80px 0 0 0;
  width: 250px;
  height: 250px;
  border-radius: 30000px;
  background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
}

.testimonial::before {
  position: absolute;
  content: '';
  background: linear-gradient(45deg, rgba(17, 6, 37, 0.91), var(--dark));
  border-radius: 30000px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-color: yellow;
  border-width: 4px;
}

.section > p {
  font-size: larger;
}

.testimonial p::after {
  content: close-quote;
  color: var(--danger);
}

section {
  padding: 40px 0;
}

section > h2 {
  font-family: "Agency FB", Impact, "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
}
