<div id="first">
  <div class="container">
    <div style="margin-top: -150px; margin-left: -50px; display: flex;">
      <h1 style="font-size: 220px; font-family: 'Titillium Web ExtraLight', sans-serif;">Play<small><b>it</b></small>
      </h1>
      <h1 style="font-size: 520px; padding: 0">Real</h1>
    </div>
  </div>
</div>
<app-about-sports [data]="this.aboutSportsData" *ngIf="this.aboutSportsData != null"></app-about-sports>
<app-trophies [data]="this.trophiesData" *ngIf="this.trophiesData != null"></app-trophies>
<app-club-gallery [data]="this.galleryData" *ngIf="this.galleryData != null"></app-club-gallery>
<app-latest-news [data]="this.latestNewsData" *ngIf="this.latestNewsData != null"></app-latest-news>
<app-testimonials [data]="this.testimonialsData" *ngIf="this.testimonialsData != null"></app-testimonials>
