
.logo {
  width: 320px;
}

#logo{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#first {
  margin-bottom: 90px;
  padding: 8% 0;
  background-color: rgba(255, 255, 255, 0.72);
}

#first::before {
  content: '';
  position: absolute;
  background: url('/assets/home/backgrounds/desktop-1.jpg') fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

#first > .holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 50%));
}

#first .holder h3{
  font-weight: lighter;
}

@media screen and (max-width: 425px) {
  #logo {
    display: none;
  }

  #first > .holder {
    display: block;
  }
}
